.background{
  background-image: url(/img/bg-main.gif);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;

}
@media (max-width: 1024px) {
  .background {
    background: none;
  }
}


.marquee-container {
  width: 100%;
  overflow: hidden;
  height: 20px;
}

.marquee-content {
  white-space: nowrap;
  animation: scroll 10s linear infinite; /* Adjust speed by changing the time (10s in this example) */
  padding: 3px;
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateY(-0%);
  }
  5% {
    transform: translateY(0%);
  }
  
  100% {
    transform: translateY(-100%);
  }
}

