.background{
  background-image: url(/img/bg-main.gif);
  width: 100%;
  height: 100vh;
  background-position: fixed;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;

}
@media (max-width: 767px) {
  .background {
    background: none;
  }
}